/*====================================================

	Table of Content:
	==================

	1. General Styling & Typography
	2. Preloader
	3. Header
	4. About Section
	6. Skill Section
	7. Timeline Section
	8. Achievement Section
	15. Back To Top
	16. Footer
	17. All Blog Page
	18. Single Blog Page
	19. Single Achievement Page
	20. Error Section
	21. Color Scheme

==================================================== */



/* =============================================
	1. General Styling & Typography
 ============================================= */

.clearfix::after{
	clear: both;
	display: inline-block;
	content: '.';
	height: 0;
	visibility: hidden;
}

.pd-0{padding: 0 !important;}
.pd-30{padding: 30px !important;}
.pd-50{padding: 50px !important;}

html, body{
	height: 100%;
	line-height: 1;
	color: #555555;
	background-color: #e6e6e6;
	font-family: 'Open Sans', 'Sans Serif' !important;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	margin: 0;
}

h1{
    font-size: 42px;
    line-height: 50px;
	font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-size: 36px;
    line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
}

h3{
    font-size: 28px;
    line-height: 36px;
}

h4{
    font-size: 22px;
    line-height: 32px;
}

h5{
    font-size: 18px;
    line-height: 28px;
}

h6{
    font-size: 14px;
    line-height: 24px;
}

p{
	font-family: 'Open Sans', 'Sans Serif' !important;
	font-size: 15px;
	line-height: 1.8;
	color: #666666;
	font-weight: 400;
	margin-bottom: 0;
}

a{
    text-decoration: none !important;
	outline: 0 !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

blockquote{
	line-height: 26px;
	margin: 30px 10px;
}

ol, ul{
	padding: 0 0 0 25px;
	margin: 0;
}

ol li, ul li{
	line-height: 30px;
	font-size: 14px;
}

ol ol, ul ul, ol ul, ul ol{
	padding: 0 0 0 30px;
}

ol.ff-roboto-cn li, ul.ff-roboto-cn li{
	line-height: 30px;
	font-size: 16px;
}

.row{
	margin-bottom: 0 !important;
}

.section-title h2{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 5px;
	color: #555555;
	text-transform: uppercase;
	text-align: center;
	margin: 100px 0 0;
}

.shadow-bg{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.shadow-bg:hover{
	-webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 1px 12px rgba(0, 0, 0, 0.25);
}

.w-block{
	background-color: #ffffff;
}

.btn-custom{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	color: #ffffff;
	padding: 10px 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.btn-custom::before{
	display: inline-block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	background: #ffffff;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-custom:hover::before{
	width: 100%;
}

.btn-circle{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff !important;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.btn-circle::after{
	display: inline-block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-circle:hover::after{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* =============================================
	2. Preloader
 ============================================= */

.preloader{
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 100%;
	z-index: 11111111;
}

.preloader-inner{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/* =============================================
	3. Header
 ============================================= */

.header{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 111;
	background: #ffffff;
	padding: 0 50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.header-visibile{
	top: 0;
	opacity: 1;
	visibility: visible;
}

.header-hidden{
	top: -60px;
	opacity: 0;
	visibility: hidden;
}

.site-logo{
	float: left;
}

.site-logo a{
	line-height: 60px;
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 1px;
}

.site-logo img{
	height: 60px !important;
	max-width: 100% !important;
}

.main-nav{
	position: fixed;
	top: 0;
	display: block;
	width: 300px;
	height: 100%;
	z-index: 11111111;
	background: #ffffff !important;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.main-nav.hidden{
	right: -305px !important;
}

.main-nav.active{
	right: 0 !important;
}

.main-nav ul{
	margin: 60px 0 0 0;
	padding: 0;
}

.main-nav li{
	display: block;
	float: none;
	background: transparent !important;
}

.main-nav a{
	display: inline-block;
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	padding: 7px 30px;
	position: relative;
	color: #555555;
	border-left: 5px solid transparent;
	background: #ffffff !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.main-nav a::after{
	display: block;
	content: '';
	width: 0%;
	height: 2px;
	z-index: -111;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.main-nav a.active-nav::after,
.main-nav a:hover::after{
	width: 100%;
}

.menu-bar{
	margin-left: 20px;
}

.menu-bar,
.menu-close{
	margin-top: 15px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	color: #ffffff;
	text-align: center;
	float: right;
	font-size: 12px;
	cursor: pointer;
	line-height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.menu-close{
	margin: 15px 15px 0 0;
}

.top-section{
	text-align: center;
}

.top-section.top-section-home,
.top-section.top-section-single{
	height: 400px !important;
}

.parallax-section{
	background-attachment: fixed !important;
}

.overlay-section{
	width: 100%;
	height: 100%;
	padding: 150px 0;
	background: rgba(12, 24, 36, 0.75);
}

.top-section.top-section-home .overlay-section{
	padding: 0 !important;
}

/* =============================================
	4. About Section
 ============================================= */
.about-section{
	margin-top: -250px;
}

.about-section .w-block{
	position: relative;
}

.about-img{
	padding-right: 0 !important;
}

.about-img-content{
	width: 230px;
	height: 230px;
	margin: 0 auto;
	position: relative;
	border-radius: 50%;
}

.about-img-content > a{
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	margin-left: 15px;
}

.about-name{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 25px 0 0;
	text-align: center;
}

.about-title{
	font-size: 14px !important;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 15px 0;
}


.about-img:hover {
	opacity: 1;
	visibility: visible;
}

.about-more-content{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-desc{
	margin-top: 0 !important;
}

.about-section-title{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	position: relative;
	line-height: 1.7;
}

.about-section-title::after{
	display: inline-block;
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 70px;
	height: 3px;
	background: red;
	border-radius: 30px;
}

.about-img,
.about-data-wrapper{
	margin-bottom: 60px;
}

.about-data{
	margin: 30px 0 0;
}

.about-data img{
	height: 60px;
	width: auto;
	margin-top: 15px;
}

.about-data > div{
	margin-top: 20px;
	font-size: 14px;
}

.about-data > div:first-of-type{
	margin-top: 30px !important;
}

.about-data > div > span{
	width: 80px;
	display: inline-block;
	font-weight: 700;
}

.about-signature img{
	height: 50px !important;
	width: auto;
}

.about-social{
	width: 100%;
	height: 75px;
	line-height: 75px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	margin-top: 0 !important;
}

.about-social a{
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.about-social a::after{
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.about-social a:hover::after{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


/* =============================================
	6. Skill Section
 ============================================= */

.skill-wrapper{
	margin-top: 50px;
}

.progress-bar-wrapper{
	margin-top: 30px;
}

.progress-bar-wrapper:first-of-type{
	margin-top: 0;
}

.progress-text{
    margin-bottom: 5px;
	font-size: 15px;
	font-weight: 600;
    color: #555555;
	text-align: left;
	text-transform: capitalize;
}

.progress-text span {
    float: right;
	text-align: right;
}

.progress-bar{
    position: relative;
    overflow: hidden;
    height: 5px;
    background: #e6e6e6;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0 ;
}

.progress-bar > span{
    width: 0%;
    display: block;
    height: 100%;
}


/* =============================================
	7. Timeline Section
 ============================================= */
.timeline{
    list-style: none;
    padding: 0;
	margin: 0;
    position: relative;
    margin-top: 50px;
}

.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.timeline > li{
    margin-top: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:first-of-type{
	margin-top: 0 !important;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline-panel{
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    background: #ffffff;
    position: relative;
}

.timeline-panel:before{
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content:" ";
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}

.timeline-badge{
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel{
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-inverted{
    float: right;
    clear: right;
}

.timeline > li:nth-of-type(2){
    margin-top: 50px;
}

.timeline > li.timeline-inverted > .timeline-badge{
    left: -12px;
}

.no-float {
    float: none !important;
}

.timeline-title{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	padding-top: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.timeline-title::after{
	display: block;
	content: '';
	margin-top: 10px;
	margin-bottom: 15px;
	width: 50px;
	height: 3px;
	background: red;
	border-radius: 30px;
}

.timeline-title-alt::after{
	display: none;
}

.timeline-tag{
	font-size: 15px;
	font-weight: 600;
	color: #777777;
	text-transform: capitalize;
}

.timeline-desc{
	margin-top: 10px;
}

.timeline-time{
	display: inline-block;
	padding: 0 15px;
	color: #ffffff;
	margin-top: 25px;
	font-size: 13px;
	font-weight: 600;
	position: relative;
	-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20);
}

.timeline-time::before{
	content: '';
	position: absolute;
    background: transparent;
	display: inline-block;
    width: 0;
    height: 0;
	top: -10px;
	right: 0;
	border: 10px solid;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* =============================================
	8. Achievement Section
 ============================================= */

.Achievement-section .container .row {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}

.Achievement-wrapper{
	text-align: center;
}

.Achievement-items{
	width: 100%;
	padding-left: 0px !important;
	overflow: visible !important;
}

.Achievement-items figure{
	margin: 0;
	overflow: hidden;
}

.Achievement-content{
	float: left;
	position: relative;
	list-style: none;
	line-height: 25px;
}

.Achievement-content{
	width: 31.2%;
	margin: 1%;
}

.Achievement-content img{
	width: 100%;
	display: block;
	position: relative;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.Achievement-content:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.Achievement-content figcaption{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background: -webkit-linear-gradient(transparent, rgba(12, 24, 36, 1));
	background: -moz-linear-gradient(transparent, rgba(12, 24, 36, 1));
	background: -o-linear-gradient(transparent, rgba(12, 24, 36, 1));
	background: linear-gradient(transparent, rgba(12, 24, 36, 1));
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.Achievement-intro{
	position: absolute;
	text-align: left;
	width: 100%;
	padding: 0px 5%;
	bottom: 0;
	background: transparent;
	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.Achievement-intro-title{
	margin: 5px 0 15px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.Achievement-content figcaption:hover .Achievement-intro-title{
	margin-bottom: 65px;
}

.Achievement-intro-title p{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.Achievement-intro-category p{
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
}

.Achievement-intro-category p::after{
	content: '|';
	display: inline-block;
	font-size: 14px;
	margin: 0 8px;
}

.Achievement-intro-category p:last-of-type::after{
	display: none;
}

.Achievement-intro-detail a,
.Achievement-intro-image a{
	position: absolute;
	bottom: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px !important;
	color: #ffffff;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.Achievement-intro-image a{
	left: 15px;
}

.Achievement-intro-detail a{
	left: 65px;
}

.Achievement-content figcaption:hover .Achievement-intro-image a,
.Achievement-content figcaption:hover .Achievement-intro-detail a{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.Achievement-content figcaption:hover .Achievement-intro-image a{
	-webkit-transition: all 0.5s 0.1s;
	-moz-transition: all 0.5s 0.1s;
	-ms-transition: all 0.5s 0.1s;
	-o-transition: all 0.5s 0.1s;
	transition: all 0.5s 0.1s;
}

.Achievement-content figcaption:hover .Achievement-intro-detail a{
	-webkit-transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-ms-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transition: all 0.5s 0.2s;
}

.Achievement-content figcaption:hover .Achievement-intro{
	opacity: 1;
}

/* =============================================
	15. Back To Top
 ============================================= */

.back-to-top{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	color: #ffffff;
	margin-top: -160px;
}


/* =============================================
	16. Footer
 ============================================= */

.footer{
	width: 100%;
	text-align: center;
	margin-top: 100px;
	padding: 70px;
}

.copyright-text{
	font-family: 'Dosis', 'Open Sans', 'Sans Serif' !important;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	color: #ffffff;
	text-transform: uppercase;
}